form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.formLabel {
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}

input {
  min-height: 25px;
  font-size: medium;
  padding: 5px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid #5d676a;
}

.formBtn {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
