.contactList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  padding: 15px;
  gap: 15px;
}

.listItem {
  display: flex;
  gap: 10px;
  font-size: medium;
  justify-content: space-between;
}

.listBtn {
  padding: 5px;
  font-size: medium;
  border-radius: 7px;
}
